@font-face {
  font-family: 'Visby';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/VisbyRoundCF-Regular.otf');
}

@font-face {
  font-family: 'Visby';
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/VisbyRoundCF-Bold.otf');
}

@font-face {
  font-family: 'Visby';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/VisbyRoundCF-Bold.otf');
}

@font-face {
  font-family: 'Visby';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/VisbyRoundCF-Medium.otf');
}

@font-face {
  font-family: 'Visby';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/VisbyRoundCF-ExtraBold.otf');
}
